certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
docopt==0.6.2
idna==3.3
pipreqs==0.4.11
pycparser==2.21
pyhunter==1.7
requests==2.27.1
urllib3==1.26.8
yarg==0.1.9